<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <nav class="navbar navbar-default" style="margin-bottom:0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text" style="color:white;">
                        <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                        <span data-i18n="sidebar.header"></span>
                    </p>
                </div>
            </div>
        </nav>

        {{#account}}
        <ul class="sidebar-nav">

            <li class="sidebar-brand">

                <div class="pull-left image">
                    <img src="{{b64}}" class="img-circle" alt="User Image">
                </div>

                <div class="pull-left info">
                    <p data-i18n="sidebar.welcome"></p>
                    <a>{{name}}</a>
                </div>

            </li>

            <li class="header" data-i18n="sidebar.mainmenu"></li>

            <li>
                <a href="#home">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span data-i18n="sidebar.dashboard"></span>
                </a>
            </li>
            <li class="active">
                <a href="#statistics">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    <span data-i18n="sidebar.statistics"></span>
                </a>
            </li>

            <li class="header" data-i18n="sidebar.appmenu"></li>

            <li class="sync">
                <a href="#">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span data-i18n="sidebar.sync"></span>
                </a>
            </li>

            <li class="header" data-i18n="sidebar.accountmenu"></li>

            <li>
                <a href="#profile">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span data-i18n="sidebar.profile"></span>
                </a>
            </li>

            <li>
                <a href="#logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span data-i18n="sidebar.logout"></span>
                </a>
            </li>

        </ul>
        {{/account}}
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!--CONTENT NAVBAR-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <p class="navbar-text" style="color:white;">Letrinhas</p>
                </div>
            </div>
        </nav>
        <!-- /#CONTENT NAVBAR-->

        <div class="container-fluid">

            <!--STATISTICS-->
            <div class="row">

                <div class="bs-callout bs-callout-info" style="margin-left:20px; margin-right:20px;">
                    <h4 class="callout-progress-csp">
                        <i class="fa fa-tasks" style="padding-right:10px;" aria-hidden="true"></i>
                        <span data-i18n="lang.genstatistics"></span>
                    </h4>
                </div>

                <!--Fluidity Meter-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text" data-i18n="lang.fluidity"></span>
                            <span class="info-box-number">0 <span data-i18n="lang.points"></span></span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>

                            <span class="progress-description">
                                0% <span data-i18n="lang.precision"></span>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <!--Accuracy Meter-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-green">
                        <span class="info-box-icon">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text" data-i18n="lang.accuracy"></span>
                            <span class="info-box-number">0 <span data-i18n="lang.points"></span></span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>

                            <span class="progress-description">
                                0% <span data-i18n="lang.precision"></span>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                <!--Total Meter-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text" data-i18n="lang.totalappreciation"></span>
                            <span class="info-box-number">0 <span data-i18n="lang.points"></span></span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>

                            <span class="progress-description">
                                0% <span data-i18n="lang.precision"></span>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

            </div>

            <!--READING GRAPH-->
            <div class="row" style="padding: 0 20px;">

                <div class="bs-callout bs-callout-info">
                    <h4 class="callout-progress-csp">
                        <i class="fa fa-random" style="padding-right:10px;" aria-hidden="true"></i>
                        <span data-i18n="lang.readingGraph"></span>
                    </h4>
                </div>

                <table class="highchart" data-graph-container-before="1" data-graph-type="line"
                       style="display:none; height:0 !important; overflow:hidden;">
                    <thead>
                    <tr>
                        <th data-i18n="lang.date"></th>
                        <th data-i18n="lang.fluidity"></th>
                        <th data-i18n="lang.accuracy"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>01/01/2016 - 00:00:00</td>
                        <td>0%</td>
                        <td>0%</td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <!--READING GRAPH-->
            <div class="row" style="padding: 0 20px;">

                <div class="bs-callout bs-callout-info">
                    <h4 class="callout-progress-csp">
                        <i class="fa fa-random" style="padding-right:10px;" aria-hidden="true"></i>
                        <span data-i18n="lang.subjectGraph"></span>
                    </h4>
                </div>

                <table class="highchart" data-graph-container-before="1" data-graph-type="column"
                       style="display:none; height:0 !important; overflow:hidden;">
                    <thead>
                    <tr>
                        <th data-i18n="lang.subject"></th>
                        <th data-i18n="lang.note"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#classGraph}}
                    <tr>
                        <td data-i18n="subject.{{subject}}"></td>
                        <td>{{note}}%</td>
                    </tr>
                    {{/classGraph}}

                    </tbody>
                </table>

            </div>

        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->