<div id="wrapper" style="padding-left:0;">

    <span id="isRecording" role="false"></span>
    <span id="isSorting" role="false"></span>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!--CONTENT NAVBAR-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header test" style="width:100%">

                    <a class="navbar-brand" href="#home">
                        <i class="fa fa-caret-square-o-left" aria-hidden="true"></i>
                        <span data-i18n="lang.back"></span>
                    </a>

                    <a id="endTestBtn" class="navbar-brand" href="#" style="float:right">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <span data-i18n="lang.finishTest"></span>
                    </a>

                    <!--<p class="navbar-text" style="color:white;">Letrinhas</p>-->
                </div>
            </div>
        </nav>
        <!-- /#CONTENT NAVBAR-->


        <div class="container-fluid">

            <div id="carousel-example-generic" style="position:static" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Indicators -->
                <ol class="carousel-indicators" style="margin-top:-34px;"></ol>

                <!-- Wrapper for slides -->
                <div id="questionArea" class="carousel-inner" role="listbox"></div>

            </div>

        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->